<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="theme-color" content="#000000" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Project Manager - Andreev Denis</title>
		<meta
			name="description"
			content="Welcome to my website, where you can read a little bit more about me and my work. Contact me, if you believe that we can create something powerful and interesting together."
		/>

		<meta property="og:type" content="website" />
		<meta property="og:title" content="Project Manager - Andreev Denis" />
		<meta
			property="og:description"
			content="Welcome to my website, where you can read a little bit more about me and my work. Contact me, if you believe that we can create something powerful and interesting together."
		/>
		<meta name="twitter:card" content="summary_large_image" />

		<link rel="icon" type="image/png" sizes="16x16" href="/16.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/32.png" />

		<link rel="stylesheet" href="./src/css/index.css" />
	</head>
	<body>
		{%- from "./src/macro/WriteTo.macro.njk" import WriteTo %} {%- from "./src/macro/CvLink.macro.njk" import
		CvLink %} {%- from "./src/macro/SocialIcons.macro.njk" import SocialIcons %} {%- from
		"./src/macro/Contacts.macro.njk" import Contacts %}

		<!-- HERO -->
		{% include "./src/components/Hero.html" %}

		<main class="main">
			<!-- PROJECTS -->
			{% include "./src/components/Projects.html" %}

			<!-- EXPERIENCE -->
			{% include "./src/components/Experience.html" %}

			<!-- SKILLS -->
			{% include "./src/components/Skills.html" %}

			<!-- APPS -->
			{% include "./src/components/Apps.html" %}

			<!-- EDUCATION -->
			{% include "./src/components/Education.html" %}

			<!-- REVIEWS -->
			{% include "./src/components/Reviews.html" %}

			<!-- COURSES -->
			{% include "./src/components/Courses.html" %}

			<!-- LANGUAGES -->
			{% include "./src/components/Languages.html" %}

			<!-- ADVANTAGES -->
			{% include "./src/components/Advantages.html" %}
		</main>

		<!-- FOOTER -->
		{% include "./src/components/Footer.html" %}

		<!-- HEADER MODAL -->
		{% include "./src/components/MobileMenu.html" %}

		<!-- PROJECTS MODAL -->
		{% include "./src/components/ProjectsModal.html" %}

		<script type="module" src="./src/js/index.js"></script>
	</body>
</html>
