<section class="languages">
	<div class="languages__bg">
		<img
			loading="lazy"
			class="languages__dec"
			src="/imgs/languagesBg.png"
			srcset="/imgs/languagesBg@2x.png 2x"
			aria-hidden="true"
			alt=""
		/>
	</div>
	<div class="container">
		<div class="languages__container">
			<h2 class="languages__title">Languages</h2>
			<div class="languages__blocks">
				<div class="languages__block">
					<p class="languages__skill">Upper Intermediate</p>
					<p class="languages__name">🇬🇧 English</p>
				</div>
				<div class="languages__block">
					<p class="languages__skill">Native</p>
					<p class="languages__name">🇺🇦 Ukrainian</p>
				</div>
				<div class="languages__block">
					<p class="languages__skill">Native</p>
					<p class="languages__name">Russian</p>
				</div>
			</div>
			<div class="languages__writeTo">{{ WriteTo("dark") }}</div>
		</div>
	</div>
</section>
