<section class="projects">
	<div class="container">
		<div class="projects__container">
			<div class="projects__col1">
				<h2 class="projects__title">
					<span class="projects__title--span1">Explore part of</span>
					<span class="projects__title--span2">my projects</span>
				</h2>
				<article class="project" data-projectName="Domova">
					<div class="project__hover"></div>
					<button class="project__btn">Discover</button>
					<div class="project__text">
						<h3 class="project__titel">Domova</h3>
						<p class="project__description">
							It is a long established fact that a reader will be distracted by the readable content
						</p>
					</div>
					<img src="/imgs/projects/domova.jpg" class="project__img" alt="" />
				</article>
				<article class="project" data-projectName="Domova">
					<div class="project__hover"></div>
					<button class="project__btn">Discover</button>
					<div class="project__text">
						<h3 class="project__titel">Domova</h3>
						<p class="project__description">
							It is a long established fact that a reader will be distracted by the readable content
						</p>
					</div>
					<img src="/imgs/projects/domova.jpg" class="project__img" alt="" />
				</article>
			</div>
			<div class="projects__col2">
				<article class="project" data-projectName="Domova">
					<div class="project__hover"></div>
					<button class="project__btn">Discover</button>
					<div class="project__text">
						<h3 class="project__titel">Domova</h3>
						<p class="project__description">
							It is a long established fact that a reader will be distracted by the readable content
						</p>
					</div>
					<img src="/imgs/projects/domova.jpg" class="project__img" alt="" />
				</article>
				<article class="project" data-projectName="Domova">
					<div class="project__hover"></div>
					<button class="project__btn">Discover</button>
					<div class="project__text">
						<h3 class="project__titel">Domova</h3>
						<p class="project__description">
							It is a long established fact that a reader will be distracted by the readable content
						</p>
					</div>
					<img src="/imgs/projects/domova.jpg" class="project__img" alt="" />
				</article>
			</div>
		</div>
	</div>
</section>
