<div id="projectsModal" class="modal projectsModal">
	<div class="modal__content modal__content--top modal__content--full">
		<div class="projectsModal__container">
			<div class="projectsModal__firstImage">
				<picture>
					<source
						media="(min-width: 1024px)"
						srcset="/imgs/projectsModal/domova/1.webp, /imgs/projectsModal/domova/1@2x.webp 2x"
						type="image/webp"
					/>
					<source
						media="(min-width: 1024px)"
						srcset="/imgs/projectsModal/domova/1.jpg, /imgs/projectsModal/domova/1@2x.jpg"
					/>
					<source
						srcset="/imgs/projectsModal/domova/1m.webp, /imgs/projectsModal/domova/1m@2x.webp 2x"
						type="image/webp"
					/>
					<img
						loading="lazy"
						class="projectsModal__img"
						src="/imgs/projectsModal/domova/1m.jpg"
						srcset="/imgs/projectsModal/domova/1m@2x.jpg 2x"
						alt=""
					/>
				</picture>
				<button id="closeProjectsModal" type="button" class="projectsModal__close" aria-label="Close modal">
					<svg width="16" height="16" aria-hidden="true" focusable="false">
						<use href="/icons.svg#close" />
					</svg>
				</button>
			</div>
			<div class="projectsModal__data">
				<div class="projectsModal__header">
					<h3 id="projectsModalTitle" class="projectsModal__title"></h3>
					<a
						href="#"
						target="_blank"
						rel="noreferrer noopener"
						class="projectsModal__link projectsModal__link--desktop"
					>
						Go to Web Site
						<svg width="16" height="17" aria-hidden="true" focusable="false">
							<use href="/icons.svg#arrowTopRight" />
						</svg>
					</a>
				</div>
				<div class="projectsModal__info">
					<div class="projectsModal__about">
						<p class="projectsModal__subTitle">Services provided</p>
						<div id="projectsModalServices" class="projectsModal__list"></div>
					</div>
					<div class="projectsModal__about">
						<p class="projectsModal__subTitle">Statistic</p>
						<div id="projectsModalStatistic" class="projectsModal__list"></div>
					</div>
					<div class="projectsModal__about">
						<p class="projectsModal__subTitle">Year</p>
						<div class="projectsModal__list">
							<p id="projectsModalYear" class="projectsModal__text"></p>
						</div>
					</div>
					<div class="projectsModal__about">
						<p class="projectsModal__subTitle">Company</p>
						<div class="projectsModal__list">
							<p id="projectsModalCompany" class="projectsModal__text"></p>
						</div>
					</div>
				</div>
				<a
					href="#"
					target="_blank"
					rel="noreferrer noopener"
					class="projectsModal__link projectsModal__link--mobile"
				>
					Go to Web Site
					<svg width="16" height="17" aria-hidden="true" focusable="false">
						<use href="/icons.svg#arrowTopRight" />
					</svg>
				</a>
				<div class="projectsModal__footer">
					<div class="projectsModal__icon">
						<svg width="114" height="76" aria-hidden="true" focusable="false">
							<use id="projectsModalIconUse" href="/icons.svg#domova" />
						</svg>
					</div>
					<p class="projectsModal__description">
						<span class="projectsModal__description--dec"></span>
						<span id="projectsModalDescriptionText"></span>
					</p>
				</div>
			</div>
			<div class="projectsModal__pictures">
				<div class="projectsModal__secondImage">
					<picture>
						<source
							media="(min-width: 768px)"
							srcset="/imgs/projectsModal/domova/2.webp, /imgs/projectsModal/domova/2@2x.webp 2x"
							type="image/webp"
						/>
						<source
							media="(min-width: 768px)"
							srcset="/imgs/projectsModal/domova/2.jpg, /imgs/projectsModal/domova/2@2x.jpg"
						/>
						<source
							srcset="/imgs/projectsModal/domova/2m.webp, /imgs/projectsModal/domova/2m@2x.webp 2x"
							type="image/webp"
						/>
						<img
							loading="lazy"
							class="projectsModal__img"
							src="/imgs/projectsModal/domova/2m.jpg"
							srcset="/imgs/projectsModal/domova/2m@2x.jpg 2x"
							alt=""
						/>
					</picture>
				</div>
				<div class="projectsModal__images">
					<div class="projectsModal__thirdImage">
						<picture>
							<source
								srcset="/imgs/projectsModal/domova/3.webp, /imgs/projectsModal/domova/3@2x.webp 2x"
								type="image/webp"
							/>
							<img
								loading="lazy"
								class="projectsModal__img"
								src="/imgs/projectsModal/domova/3.jpg"
								srcset="/imgs/projectsModal/domova/3@2x.jpg 2x"
								alt=""
							/>
						</picture>
					</div>
					<div class="projectsModal__fourthImage">
						<picture>
							<source
								srcset="/imgs/projectsModal/domova/4.webp, /imgs/projectsModal/domova/4@2x.webp 2x"
								type="image/webp"
							/>
							<img
								loading="lazy"
								class="projectsModal__img"
								src="/imgs/projectsModal/domova/4.jpg"
								srcset="/imgs/projectsModal/domova/4@2x.jpg 2x"
								alt=""
							/>
						</picture>
					</div>
				</div>
				<div class="projectsModal__fifthImage">
					<picture>
						<source
							media="(min-width: 768px)"
							srcset="/imgs/projectsModal/domova/5.webp, /imgs/projectsModal/domova/5@2x.webp 2x"
							type="image/webp"
						/>
						<source
							media="(min-width: 768px)"
							srcset="/imgs/projectsModal/domova/5.jpg, /imgs/projectsModal/domova/5@2x.jpg"
						/>
						<source
							srcset="/imgs/projectsModal/domova/5m.webp, /imgs/projectsModal/domova/5m@2x.webp 2x"
							type="image/webp"
						/>
						<img
							loading="lazy"
							class="projectsModal__img"
							src="/imgs/projectsModal/domova/5m.jpg"
							srcset="/imgs/projectsModal/domova/5m@2x.jpg 2x"
							alt=""
						/>
					</picture>
				</div>
			</div>
		</div>
	</div>
</div>
