<section class="reviews">
	<div class="container">
		<div class="reviews__container">
			<div class="reviews__header">
				<h2 class="reviews__title">
					<span class="reviews__title--span">R</span><span class="reviews__title--span">e</span
					><span class="reviews__title--span">v</span><span class="reviews__title--span">i</span
					><span class="reviews__title--span">e</span><span class="reviews__title--span">w</span>
				</h2>
				<div class="reviews__writeTo reviews__writeTo--desktop">{{ WriteTo("dark") }}</div>
			</div>
			<div class="reviews__sliders">
				<div class="reviews__slider swiper">
					<div class="swiper-wrapper">
						<div class="reviews__slide swiper-slide">
							<div class="reviews__top">
								<img class="reviews__img" width="52" height="52" src="/imgs/reviews/1.png" alt="" />
								<div class="reviews__info">
									<p class="reviews__name">Oleksandr Sarzhan</p>
									<p class="reviews__position">CEO Domova</p>
								</div>
							</div>
							<p class="reviews__description">
								It is a long established fact that a reader will be distracted by the readable content of a
								page when looking at its layout. The point of using. Lorem Ipsum is that it has a more-or-less
								normal distribution of letters.
							</p>
						</div>
						<div class="reviews__slide swiper-slide">
							<div class="reviews__top">
								<img class="reviews__img" width="52" height="52" src="/imgs/reviews/1.png" alt="" />
								<div class="reviews__info">
									<p class="reviews__name">Oleksandr Sarzhan</p>
									<p class="reviews__position">CEO Domova</p>
								</div>
							</div>
							<p class="reviews__description">
								It is a long established fact that a reader will be distracted by the readable content of a
								page when looking at its layout. The point of using. Lorem Ipsum is that it has a more-or-less
								normal distribution of letters.
							</p>
						</div>
						<div class="reviews__slide swiper-slide">
							<div class="reviews__top">
								<img class="reviews__img" width="52" height="52" src="/imgs/reviews/1.png" alt="" />
								<div class="reviews__info">
									<p class="reviews__name">Oleksandr Sarzhan</p>
									<p class="reviews__position">CEO Domova</p>
								</div>
							</div>
							<p class="reviews__description">
								It is a long established fact that a reader will be distracted by the readable content of a
								page when looking at its layout. The point of using. Lorem Ipsum is that it has a more-or-less
								normal distribution of letters.
							</p>
						</div>
						<div class="reviews__slide swiper-slide">
							<div class="reviews__top">
								<img class="reviews__img" width="52" height="52" src="/imgs/reviews/1.png" alt="" />
								<div class="reviews__info">
									<p class="reviews__name">Oleksandr Sarzhan</p>
									<p class="reviews__position">CEO Domova</p>
								</div>
							</div>
							<p class="reviews__description">
								It is a long established fact that a reader will be distracted by the readable content of a
								page when looking at its layout. The point of using. Lorem Ipsum is that it has a more-or-less
								normal distribution of letters.
							</p>
						</div>
					</div>
					<div class="reviews__btn swiper-button-prev">Prev</div>
					<div class="reviews__btn swiper-button-next">Next</div>
				</div>
			</div>
			<div class="reviews__writeTo reviews__writeTo--mobile">{{ WriteTo("dark") }}</div>
		</div>
	</div>
</section>
