{%- macro CvButton(class="", theme="light") -%}
<button type="button" class="cvButton cvButton--{{ theme }} {{ class }}" id="cvButton">
	Open CV
	<svg width="16" height="16" aria-hidden="true" focusable="false">
		<use href="/icons.svg#eye" />
	</svg>
</button>
{%- endmacro -%}
